# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Data
data/
*.csv

# macOS
.DS_Store

# Big Data
Big_Data/
Big_Data.zip
